body { 
    margin-right: 5%;
    padding-left: 25% ;
    color: rgb(0, 0, 0);
    background-color: #ffffff ;
    font: Georgia, "Times New Roman",Times, serif }
ul.navbar { 
    list-style-type: none;
    padding: 0;
    margin: 0;position: absolute;
    top: 8em;
    left: 4%;
    width: 20%;
    border-left: 0.2em solid rgb(139, 0, 9)}
h1 { 
    margin-left: -25%;
    color:rgb(139, 0, 9);
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif }
h2 { 
    color:darkblue}
h3 { 
    color:rgb(0, 0, 0)}
ul.navbar li {
    color: rgb(240, 248, 255);
    background: rgb(255, 255, 255);
    margin: 0.5em 0;
    padding: 0.3em}
ul.navbar a {
    text-decoration: none }
a:link {
    color: rgb(1, 1, 25) }
a:visited {
    color: purple }
address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }