* {
    box-sizing: border-box;
  }

/* Structure basique */
header { 
    margin-left: 0%}

body { 
    margin-right: 5%;
    padding-left: 5%;
    color: rgb(0, 0, 0);
    background-color: #fcf8ed ;
    font-family:Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, 'Times New Roman', serif }

footer {
    font-size: smaller;
    background-color: #fcf8ed;
    text-align: center;
    padding: 10px;
    border-top: 0.07em solid #333}

h1 { 
    text-align: right;
    font-size: 30px;
    color:rgb(139, 0, 9);
    font-family: Copperplate, Copperplate Gothic Light, fantasy }

h2 { 
    color:rgb(139, 0, 9);
    font-family:Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, 'Times New Roman', serif }

h3 { 
    text-align: right;
    color:#333;
    font-family:Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, 'Times New Roman', serif }

h4 { 
    text-align: left;
    color:#333;
    font-family:Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, 'Times New Roman', serif }


address {
    margin-top: 1em;
    padding-top: 1em;
    color: rgb(139, 0, 9);
    border-top: thin dotted;
    border-color:rgb(139, 0, 9) }

/* Style des liens */    
a:link {
    text-decoration: none;
    color: rgb(139, 0, 9) }

a:visited {
    text-decoration: none;
    color: rgb(139, 0, 9) }

a:hover {
    text-decoration: none;
    color: rgb(60, 165, 12) }

a:active {
    text-decoration: none;
    color: rgb(139, 0, 9) }

a[href$='.pdf']:link { padding-right: 10px}

a[href$='.pdf']:after{ 
    background-image: url('icones/pdf.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";
}
/*.pdf { }
  
/* Style barre navigation */
.topnav {
    overflow: hidden;
    background-color: #333;
    margin-left: -7%;}
  
.topnav a {
    float: right;
    display: block;
    color: #fcf8ed;
    text-align: center;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;
    padding: 14px 16px;
    text-decoration: none}
  
.topnav a:hover {
    background-color:rgb(60, 165, 12);
    color: #fcf8ed}

.current {
	background-color: rgb(139, 0, 9);
	color: #fcf8ed}